body {
    background: grey;
}

/*form*/
#form {
    width:100%;
    border-bottom: 1px dotted black;
    display: inline-flex;
    margin: 1em 0 2em;
}
button{
    width: 100%
}

#outputFrm, #imageFrm {
    border: 1px solid black;
    width: 50%;
    display: block;
    margin: 1em;
    padding: 1em;
}
#nodesX, #nodesY {
    
    width: 4em;
}
.arrow{
    width: 140px;
    height: 94px;
    margin: auto;
    transition: all 1s ease;
}
.arrow img{
        transition: all 0.3s ease;
        width: 140px;
        height: 94px;
}
.arrow img:hover{
    width: 170px;
    height: 130px;

}


/*canvas & wrapper*/
canvas,
#wrapper {
    display: inline-block;
    border: 1px solid black;
}

#wrapper {
    width: 500px;
    height: 500px;
}


/* auto aligned content in wraper. both vertical and horizontal*/

h1 {
    font-size: 3em;
}
/*begin*/

#wrapper>ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
}

#wrapper>ul>ul {
    display: table-row;
}

#wrapper>ul>ul>li {
    display: table-cell;
    margin: auto;
}


/* end*/
